myproject
# Compiled Object files
*.slo
*.lo
bin/*.o
bin/*
obj/*
*.obj

#ignore kernel modules
kernelspace/.ctf/
kernelspace/modproj.ko
kernelspace/modproj.mod.o
kernelspace/*.o
kernelspace/modproj.sdtstub.o
kernelspace/main.o
kernelspace/.*
kernelspace/modproj.*
kernelspace/Module.symvers
kernelspace/modules.order

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
